<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子正 > {{ user.username }}</title>
    <link rel="stylesheet" href="../static/topic/style/style.css">
    <link rel="stylesheet" href="../static/public/font-awesome/css/font-awesome.min.css">
    <script src="../static/public/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="head">
    <div class="head-content">
        <a class="head-left" href="/topic">
            <img src="../static/topic/style/logo.png" alt="" class="logo">
        </a>
        <span class="head-right">
                            <a href="/" class="head-page">首页</a>
                            {% if u.id === -1 %}
                            <a href="/user#login" class="head-page">登陆</a>
                            <a href="/user#register" class="head-page">注册</a>
                            {% endif %}
                            {% if u.id !== -1 %}
                            <a href="/user/{{ user.id }}" class="head-page">{{ u.username }}</a>
                            <a href="/user/logout" class="head-page">登出</a>
                            {% endif %}
                        </span>
        <span class="head-mid"></span>
    </div>
</div>
<div class="content">
    <div class="wrapper">
        <div class="member-head">
            <div class="member-head-top member-box"></div>
            <div class="member-head-bottom member-box">
                <div class="member-head-avatar">
                    <img src="../static/topic/style/avatar.jpg" alt="avatar">
                </div>
                <div class="member-head-content text-left">
                    <h2>{{ user.username }}</h2>
                    <h4>{{ user.note }}</h4>
                    <div>
                        <span>菜鸡等级 :</span>
                        <span>{{ user.rank }}</span>
                    </div>
                </div>
                <!--<div class="member-head-right float-right">-->
                <!--<a href="" class="post-console-a">关注(即将上线)</a>-->
                <!--</div>-->
            </div>
        </div>
        <div class="step20"></div>
        <div class="right">
            <div class="step20"></div>
            <div class=" member-right right-page ">
                <div class="box size14 text-left ">
                    <div class="cell">
                        <span>个人成就:</span>
                    </div>
                    <div class="cell member-count">
                        <a class="float-right number-count text-center">
                            <span>关注者</span>
                            <span class="size12 ">0 人</span>
                        </a>
                        <a class="number-count ">
                            <span>关注了</span>
                            <span class="size12 text-center">0 人</span>
                        </a>
                    </div>
                    <div class="cell ">
                        <i class="fa fa-pencil"></i>
                        <span class="cell-title size14">发表了:</span>
                        <span> {{ topics.length }} 篇文章</span>
                    </div>
                    <div class="cell">
                        <i class="fa fa-reply"></i>
                        <span class="cell-title size14">回复了:</span>
                        <span> {{ replys.length }} 篇文章</span>
                    </div>
                    <div class="cell fade small">
                        <span>注册于 {{ user.ct }}, 是本站第 {{ user.id }} 个成员</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="step20"></div>
        <div class="main member-main">
            <div class="topic">
                <a class="topic-page" data-id="0">{{ user.username }} 发表的主题</a>
            </div>
            {% for t in topics %}
            <div class="cell text-left">
                <div class="cell-wrapper">

                        <span class="cell-count">
                        <div class="count-comment text-left count">
                            <i class="fa fa-comment"></i>
                            <span>{{ t.reply }}</span>
                        </div>
                        <div class="count-browse text-left count">
                            <i class="fa fa-eye"></i>
                            <span>{{ t.views }}</span>
                        </div>
                        </span>
                    <span class="cell-content">
                            <div class="cell-content-title">
                                <a href="/topic/{{ t.id }}" class="cell-title">{{ t.title }}</a>
                            </div>
                            <div class="sep5"></div>
                            <div class="cell-content-">
                                <a class="small blod">{{ t.username }}</a>
                                <span class="fade small">发表于{{ t.ct }}</span>
                                {% if t.reply_username !== '' %}
                                <span class="fade small">最后回复来自于</span>
                                <a class="small blod">{{ t.reply_username }}</a>
                                {% else %}
                                <span class="fade small">还没有人回复</span>
                                {% endif %}
                            </div>
                        </span>
                </div>
            </div>
            {% endfor %}
            <div class="step20"></div>
            <div class="topic">
                <a class="topic-page" data-id="0">{{user.username}} 发表的回复</a>
            </div>
            {% for r in replys %}
            <div class="cell text-left">
                <div class="cell-wrapper">
                    <span class="cell-content">
                            <div class="cell-content-title">
                                <a href="/topic/{{ r.topic_id }}" class="cell-title">{{ r.content }}</a>
                            </div>
                            <div class="sep5"></div>
                            <div class="cell-content-">
                                <a class="small blod">{{ r.username }}</a>
                                <span class="fade small">于{{ r.ct }}</span>
                                <span class="fade small">回复了:</span>
                                <a class="small blod">{{ r.topic_title }}</a>
                            </div>
                        </span>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<div class="step20"></div>
<div class="foot">
    <p> 个人学习项目, 本站已有 {{ users.length }} 人注册</p>
</div>
<script src="../static/topic/write.js"></script>
</body>
</html>