<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>子正 > 创作</title>
        <link rel="stylesheet" href="../static/topic/style/style.css">
        <link rel="stylesheet" href="../static/public/font-awesome/css/font-awesome.min.css">
        <script src="../static/public/jquery-3.2.1.min.js"></script>
    </head>
    <body>
    <div class="head">
        <div class="head-content">
                <a class="head-left" href="/topic">
                    <img src="../static/topic/style/logo.png" alt="" class="logo">
                </a>
                 <span class="head-right">
                    <a href="/" class="head-page">首页</a>
                    {% if user.id === -1 %}
                    <a href="/user#login" class="head-page">登陆</a>
                    <a href="/user#register" class="head-page">注册</a>
                    {% endif %}
                    {% if user.id !== -1 %}
                    <a href="/user/{{ user.id }}" class="head-page">{{ user.username }}</a>
                    <a href="/user/logout" class="head-page">登出</a>
                    {% endif %}
                </span>
                <span class="head-mid"></span>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="right">
                <div class="user-page right-page">
                    <div class="box">
                        <img src="../static/topic/style/avatar.jpg" alt="" id="id-user-page-avatar">
                        <p id="id-user-page-username">{{ user.username }}</p>
                        <hr>
                        <p id="id-user-page-note" class="size14 fade">{{ user.note }}</p>
                        <hr>
                        <a href="/user/16" id="id-user-page-new" class="user-page-a">个人主页</a>
                        <a href="/topic/new" id="id-user-page-edit" class="user-page-a">发表新主题</a>
                        <a id="id-user-page-messege" class="user-page-a">没做</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="new-main">
                    <div class="topic">
                        <a href="/topic">子正</a>
                        <span class="small"> > 创作新主题</span>
                    </div>
                    <div class="topic size12">
                        <span>主题标题</span>
                        <span class="fade float-right prompt">30字</span>
                        <span class="fade float-right prompt">非空</span>
                    </div>
                    <div class="topic">
                        <textarea name="title" id="id-new-title" rows="1" maxlength="30" placeholder="请输入标题， 如若标题能够表达完整内容， 则正文可以为空"></textarea>
                    </div>
                    <div class="topic size12">
                        <span>主题正文</span>
                        <span class="fade float-right prompt">3000字</span>
                    </div>
                    <div class="topic">
                        <textarea name="content" id="id-new-content" placeholder="支持 markdown 语法"></textarea>
                    </div>
                    <div class="topic">
                        <span class="size12">选择分区：</span>
                        <a class="topic-page" data-id="1" id="id-topic-active">生活</a>
                        <a class="topic-page" data-id="2">技术</a>
                    </div>
                    <div class="topic">
                        <a class="post-console-a" id="id-a-markdown">
                            <i class="fa fa-eye"></i>
                            <span>没做</span>
                        </a>
                        <a class="post-console-a float-right" id="id-a-post">
                            <i class="fa fa-paper-plane"></i>
                            <span id="id-span-post" class=" prompt">发表文章</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="step20"></div>
    <div class="foot">
        <p> 个人学习项目, 本站已有 {{ users.length }} 人注册</p>
    </div>
    <script src="../static/topic/write.js"></script>
    </body>
</html>