<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简历</title>
    <link rel="stylesheet" href="./static/resume/style/style.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="main">
        <div class="left">
            <section class="title">
                <img src="./static/resume/style/avatar.png" alt="avatar" class="avatar">
                <h1>张一鹏</h1>
                <span id="id-p-title">前端开发工程师</span>
            </section>
            <section class="social">
                <a href="http://子正.cc" target="_blank">
                    <i class="fa fa-home"></i>
                    <span class="social-span">子正.cc</span>
                </a>
                <a href="javascript:;">
                    <i class="fa fa-phone"></i>
                    <span class="social-span">176-8652-0405</span>
                </a>
                <a href="javascript:;">
                    <i class="fa fa-envelope"></i>
                    <span class="social-span">1036966122@qq.com</span>
                </a>
            </section>
            <section class="level">
                <p>HTML</p>
                <div class="item">
                    <div class="html item-div"></div>
                </div>
                <p>CSS</p>
                <div class="item">
                    <div class="css item-div"></div>
                </div>
                <p>JavaScript(ES6)</p>
                <div class="item">
                    <div class="js item-div"></div>
                </div>
                <p>NodeJS</p>
                <div class="item">
                    <div class="node item-div"></div>
                </div>
            </section>
        </div>
        <div class="right">
            <div class="hr">
                <span class="hr-left"></span>
                <span class="hr-main">个人项目</span>
                <span class="hr-right"></span>
            </div>
            <section class="project">
                <div class="project-item">
                    <header class="project-title">
                        <i class="fa fa-bookmark"></i>
                        <span>*论坛*</span>
                        <a href="http://子正.cc/" class="btn" target="_blank">
                            <span>子正.cc</span>
                        </a>
                    </header>
                    <img src="./static/resume/style/bbs.png" alt="" class="">
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>利用<em>Node.js</em>的 Express 框架搭建后台服务</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em> Nunjucks + Ajax</em> 技术完成了前端于后端的<em>数据交互</em> 和<em>服务器端页面渲染</em></span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>借助开源库<em> marked + highlight.js</em>完成了论坛的 markdown 编辑器功能</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>借助<em> session-cookie</em>框架, 实现了 session 的 cookie 化方案, 从而使客户端可以 <em>长久登录</em></span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>通过<em>pm2</em>进行程序托管, 提升了程序的健壮性</span>
                    </div>
                </div>
                <div class="project-item">
                    <header class="project-title">
                        <i class="fa fa-bookmark"></i>
                        <span>个人博客</span>
                        <a href="http://子正.cc/blog" class="btn" target="_blank">
                            <span>子正.cc/bolg</span>
                        </a>
                    </header>
                    <img src="./static/resume/style/blog.png" alt="" class="">
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em>Express</em>搭建后台框架</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em>MongoDB</em>实现了文章的数据存储功能</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em>Vue.js</em> 作为前端渐进式框架和渲染数据</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em>前后端分离技术</em>保证了前后端的互不干涉和逻辑整洁</span>
                    </div>
                </div>
                <div class="project-item">
                    <header class="project-title">
                        <i class="fa fa-bookmark"></i>
                        <span>web音乐播放器</span>
                        <a href="http://子正.cc/music" class="btn" target="_blank">
                            <span>子正.cc/music</span>
                        </a>
                    </header>
                    <img src="./static/resume/style/music.png" alt="" class="">
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>基于<em>HTML5 api</em>封装了一套播放器组件</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em>原生 JavaScript</em>实现了音乐的<em>播放, 暂停, 循环播放, 切歌</em>等功能</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em>CSS3-flex, transform</em>美化了页面设计</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em>transition, animation</em> 完成了动画和渐变效果, 加强了交互设计</span>
                    </div>
                </div>
                <div class="project-item">
                    <header class="project-title">
                        <i class="fa fa-bookmark"></i>
                        <span>个人主页</span>
                        <a href="http://子正.cc/zy" class="btn" target="_blank">
                            <span>子正.cc/zy</span>
                        </a>
                    </header>
                    <img src="./static/resume/style/index.png" alt="" class="">
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>在<em>fullpage.js</em>的基础上引入了 Express 进行二次开发</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>使用<em>Express</em>进行了 <em>功能模块化, 组件化</em> <em>路由映射</em>的改造</span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>搭建<em>Nginx</em>反向代理服务运行程序, 加快了静态资源的 <em>返回速度</em></span>
                    </div>
                    <div class="db-item">
                        <i class="fa fa-angle-right"></i>
                        <span>通过<em>pm2</em>保证了程序的 <em>稳定性</em>, 使程序在 crash 后可以 <em>快速的自我恢复</em></span>
                    </div>
                </div>
            </section>
                <div class="hr">
                    <span class="hr-left"></span>
                    <span class="hr-main">技能清单</span>
                    <span class="hr-right"></span>
                </div>
            <section class="skill">
                <div class="project-item">
                    <header class="project-title">
                        <i class="fa fa-bookmark"></i>
                        <span>HTML && CSS</span>
                    </header>
                    <p>1. 遵循<em>W3C 标准</em> 规范、编写<em>语义化</em>、<em>规范化</em> 的 HTML，<em>模块化</em> 的 CSS </p>
                    <p>2. 熟悉<em>盒模型、定位、布局</em>等概念，并能用<em>Flex & bootstrap</em>构建响应式布局</p>
                    <p>3. 可以使用<em>CSS3 </em>动画提升页面效果，优化用户体验</p>
                    <p>4. 熟悉<em>HTML5 / CSS3 </em>新特性，并在个人项目中使用最新标准</p>
                </div>
                <div class="project-item">
                    <header class="project-title">
                        <i class="fa fa-bookmark"></i>
                        <span>JavaScript</span>
                    </header>
                    <p>1. 精通<em>JavaScript</em>，能用 JavaScript 实现常用的网页<em>交互</em>效果</p>
                    <p>2. 熟悉<em>ES6</em> 标准的 JavaScript，并能在项目中广泛使用</p>
                    <p>3. 熟练使用<em>AJAX</em> 实现与后台数据的交互</p>
                    <p>4. 熟悉原生<em>DOM</em> 与 <em>BOM</em>的使用及相关标准（W3C / WHATWG）</p>
                    <p>5. 了解常见的<em>Web API </em>兼容性问题及其解决方案</p>
                    <p>6. 熟悉<em>jQuery</em> 的使用、定制与扩展, <em>阅读和实现</em>过部分源代码</p>
                    <p>7. 了解<em>Vue.js</em> 的使用, 使用 Vue.js 完成了个人博客</p>
                </div>
                <div class="project-item">
                    <header class="project-title">
                        <i class="fa fa-bookmark"></i>
                        <span>后端</span>
                    </header>
                    <p>1. 熟练使用<em>Node.js</em>的 <em>Express</em>框架搭建后台服务器逻辑, 实现 <em>路由映射和功能模块化</em></p>
                    <p>3. 可以使用<em>Mongodb</em>作为后端的数据库, 了解基本的部署和 crud 命令</p>
                    <p>3. 熟练使用<em>Nunjucks</em>于后端渲染页面</p>
                    <p>4. 可以使用<em>GitHub + Nginx + pm2 + Linux</em>完成服务器部署</p>
                </div>
            </section>
        </div>
    </div>
    <script src="./static/resume/app.js"></script>
</body>
</html>
