<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>名一鹏字子正</title>
        <link href="http://cdn.bootcss.com/fullPage.js/2.9.4/jquery.fullpage.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/zy/style/style.css">
        <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="http://cdn.bootcss.com/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
        <script src="http://cdn.bootcss.com/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
    </head>
    <body>
        <div id='id-fullpage'>
            <div class="section about">
                <div class="content">
                    <img src="../static/zy/style/img/avatar.jpg" alt="avatar" id='id-about-avatar'>
                    <h1 class="animated fadeIn">张一鹏</h1>
                    <p>前端开发工程师, Node.js</p>
                    <a href="/resume" class='more a-btn'>了解更多</a>
                </div>
            </div>
            <div class="section blog">
                <div class="content center">
                    <h1>论坛</h1>
                    <a href="/" class="a-btn" target='_blank'>点击前往</a>
                </div>
            </div>
            <div class="section demo">
                <div class="content">
                    <h1 class="">我的项目</h1>
                    <a href="/music"  class="a-btn a-demo" target='_blank' target='_blank'>基于 PC 端的 HTML5 音乐播放器</a>
                    <a href="/" class="a-btn a-demo"  target='_blank'>论坛程序</a>
                    <a href="javascript:;" class="a-btn a-demo"  target='_blank'>博客程序</a>
                    <a href="javascript:;" class="a-btn a-demo"  target='_blank'>施工中</a>
                </div>
            </div>
        </div>
        <script src='../static/zy/app.js'></script>
    </body>
</html>
